/* Overall container styles */
body {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  display: flex;
  background: #f2f2f2;
  color: rgba(0,0,0,.87);
  font-family: 'Roboto', sans-serif;
}
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f6f6f6; /* Updated background color */
  color: #333; /* Text color */
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow */
  border-radius: 10px; /* Added border radius */
}

/* Heading styles */
h1 {
  font-size: 32px; /* Increased font size */
  margin-bottom: 20px;
  color: #333;
}

/* Search bar styles */
.search-bar {
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: black;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}

/* Accordion item styles */
.accordion-item {
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Added border radius */
  overflow: hidden; /* Ensures content does not overflow */
}

/* Accordion header styles */
.accordion-header {
  font-weight: bold;
  cursor: pointer;
  background-color: #007BFF; /* Header background color */
  color: #fff; /* Header text color */
  border-radius: 10px 10px 0 0; /* Rounded corners */
  padding: 15px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hover effect for accordion header */
.accordion-header:hover {
  background-color: #0056b3; /* Header background color on hover */
}

/* Accordion content styles */
.accordion-content {
  padding: 15px;
  color: #333;
}

/* Accordion action buttons */
.accordion-actions {
  margin-top: 15px;
  text-align: right;
}

/* Button styles */
button {
  margin-right: 10px;
  padding: 12px 24px;
  background-color: #dc3545; /* Button background color */
  color: #fff;
  border: none;
  border-radius: 6px; /* Added border radius */
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
button:hover {
  background-color: #c82333; /* Button background color on hover */
}

/* Responsive design */
@media (max-width: 768px) {
  .app {
    max-width: 90%;
    padding: 15px;
  }
}
