/* CSS for the .app container */
.app {
  max-width: 768px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #f0f0f0; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
}

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;

  }
  
.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }  
  .accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .accordion-header {
    font-weight: bold;
    cursor: pointer;
  }
  
  .accordion-content {
    margin-top: 10px;
  }
  
  .accordion-actions {
    margin-top: 10px;
  }
  
  button {
    margin-right: 10px;
  }
  